<html>

<head>
<title>Reading tracker: Heath Blackmon</title>
</head>

<body>

<p>This is just a quick little website to keep track of my reading:</p>

<!--begin.rcode
dat <- read.csv("reads.csv")

kable(dat)
end.rcode-->

</body>
</html>
