/* default float side for sidebar */
#sidebarContainer {
	float: right;
}

#contentContainer {
	margin-right: 230px;
	margin-left: 0px;
}

/*
     FILE ARCHIVED ON 10:03:19 Jan 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:55:27 Aug 30, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  load_resource: 66.796
  PetaboxLoader3.datanode: 43.337 (4)
  exclusion.robots.policy: 0.174
  RedisCDXSource: 19.929
  captures_list: 142.465
  esindex: 0.01
  exclusion.robots: 0.187
  PetaboxLoader3.resolve: 69.159 (2)
  LoadShardBlock: 98.0 (3)
  CDXLines.iter: 21.406 (3)
*/